<h1>Add a new number</h1><br>
<a href ="/home/list">go to list page</a>
<form action ="/home/add_address" method ="post">
  Name : <input type="text" name ="phone_user"><br>
  Phone number : <input type ="text" name ="phone_number">
  <input type ="submit" value ="add">
</form>

